body{
background:#f0f2f5;
font-family:Arial;
margin:0;
}

.navbar{
background:white;
display:flex;
justify-content:space-between;
padding:10px 20px;
box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

.logo{
color:#1877f2;
font-size:22px;
font-weight:bold;
}

.container{
width:600px;
margin:auto;
}

.create-post{
background:white;
padding:15px;
margin-top:20px;
border-radius:8px;
}

.post{
background:white;
padding:15px;
margin-top:20px;
border-radius:8px;
}

.post img{
width:100%;
border-radius:8px;
}

button{
background:#1877f2;
color:white;
border:none;
padding:8px 12px;
border-radius:5px;
cursor:pointer;
}
