body{
font-family: Arial;
margin:0;
background:#f6f6f6;
}

header{
background:#1b4f72;
color:white;
padding:20px;
text-align:center;
}

.projects{
padding:30px;
}

.card{
background:white;
padding:15px;
margin-bottom:20px;
border-radius:10px;
box-shadow:0 3px 8px rgba(0,0,0,0.1);
}

.card img{
width:100%;
border-radius:8px;
}

button{
background:#1b4f72;
color:white;
padding:10px;
border:none;
cursor:pointer;
border-radius:5px;
}

.comments{
margin-top:10px;
}

.whatsapp{
position:fixed;
bottom:20px;
right:20px;
background:green;
color:white;
padding:15px;
border-radius:50px;
text-decoration:none;
}

.donate{
position:fixed;
bottom:80px;
right:20px;
background:#e67e22;
color:white;
padding:15px;
border-radius:50px;
  }
